body {
	font-family: sans-serif;
	margin: 0;
	padding: 8px 0;
	font-size: 15px;
	position: relative;
}
h1, h2, h3 {
	display: flex;
    align-items: center;
}
h1 {
	font-size: 24px;
}
h2 {
	margin: 24px 0 4px 0;
	font-size: 20px;
}
label, input, select, label + span {
	margin: 8px;
	padding: 4px 6px;
}
.hidden {
	display: none !important;
}
input[type=number] {
	width: 64px;
}
input[type=text] {
	width: 128px;
}
label + span {
	border: 1px solid #ccc;
    border-radius: 3px;
	cursor: default;
	min-height: 16px;
	margin-left: 0;
}
button {
	background: #000;
    color: #eee;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;
	padding: 4px 12px;
	margin: 8px;
	border: 0;
	box-shadow: 0px 1px 0px 1px #ccc;
}
button.round {
	border-radius: 15px;
}
button.variant-2 {
	background: #fff;
    border: 1px solid #999;
    color: #000;
}
@media (hover: hover) and (pointer: fine){
	button:hover {
		background: #111;
		color: #ceff1a;
	}
	button:active {
		box-shadow: unset;
		margin-top: 9px;
		margin-bottom: 7px;
	}
}
label + input, label + select, label + button, button + button {
	margin-left: 0px;
}
h1 > button {
	margin: 0 16px 0 0;
    border-radius: 15px;
    min-height: 30px;
    min-width: 30px;
    background: #fff;
    border: 1px solid #999;
    color: #000;
    font-size: 18px;
    padding: 0;
}
.page {
	max-width: 1024px;
	margin: auto;
    background: #fff;
    padding: 16px 32px;
}
.section {
	display: flex;
	flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}
.group {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	margin-top: 4px;
}
@media screen and ( min-width: 1110px ) and ( min-height: 512px ){
	.page {
		border: 1px solid #ddd;
		box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.04);
	}
}
#volumeMeter {
	position: relative;
	border: 1px solid black;
	min-height: 26px;
	min-width: 128px;
	background: #eee;
	min-width: 256px;
	max-width: 100%;
	margin: 8px;
	border-radius: 14px;
    overflow: hidden;
}
#volumeBar {
	position: absolute;
	background: #0f4;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: width .3s;
}
#micButton {
	background: #000;
    background-image: url(sepia.svg);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
	color: #fff;
	border: 0;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	margin: 16px;
	cursor: pointer;
	-webkit-touch-callout: none !important; 
	-webkit-user-select: none;
	user-select: none;
}
@media (hover: hover) and (pointer: fine){
	#micButton:active {
		margin: 17px 16px 15px 16px;
	}
}
#micButton.loading {
	background-color: #999;
}
#micButton.recording {
	background-color: #f04;
	background-image: url(sepia-r.svg);
}
#micButton.reset {
	background-color: #16ABC3 !important;
	color: #fff !important;
	box-shadow: 0px 1px 0px 1px #ccc !important;
	margin: 16px !important;
}
#recoderInfo.with-button {
	border: 0;
	padding: 0;
	margin: 0;
}
#messageText {
	flex: 1 1 auto;
}
#messages {
	background: #eee;
    padding: 8px;
    font-size: 13px;
    border: 1px solid #aaa;
	overflow: auto;
	/*max-height: 40vh;*/
	min-height: 142px;
}
#messages li {
	list-style: none;
	margin: 6px 0;
}

.modal-layer {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.modal-box {
	width: 85%;
    max-width: 320px;
    height: auto;
    background: #fff;
    padding: 16px;
    border: 1px solid #000;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
	white-space: break-spaces;
    overflow: auto;
}
.modal-box label {
	margin-left: 0;
}
.modal-box textarea {
	box-sizing: border-box;
    width: 100%;
	height: 200px;
	resize: vertical;
}