# Last tested 2023.05.01 with Python 3.9.2
#
cffi ~= 1.15				# tested: 0.15.1
fastapi ~= 0.95				# tested: 0.95.1
uvicorn[standard] ~= 0.22	# tested: 0.22.0
aiofiles ~= 23.1			# tested: 23.1.0
# text2num ~= 2.5			# custom version already included
numpy == 1.24.3