fastapi ~= 0.65		# tested: 0.65.1 - newer versions should generally be no problem
uvicorn[standard]
aiofiles
vosk ~= 0.3			# tested: 0.3.30 - result API changes have been announced
# text2num ~= 2.5	# currently included custom version for German support